@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Klee+One&family=Work+Sans:wght@300&display=swap');

:root {
    --tittle-font: 'Work Sans', sans-serif;
    --principal-font: 'Klee One', cursive;
    --first-color: #14213D;
    --second-color: #FCA311;
    --third-color: #000000;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(
      var(--third-color),
      var(--first-color),
      var(--second-color)
    );
}

div#content {
    flex: 1;
    width: 80vw;
    margin: auto;
}

header {
    font-family: var(--principal-font);
    color: white;
    text-align: center;
    padding: 8px;
}

header > img {
    border: 2px solid var(--second-color);
    border-radius: 50%;
    width: 128px;
    margin-top: 16px;
}

header > h1 {
    font-family: var(--tittle-font);
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 8px;
}

header > p {
    font-size: 1em;
    border-bottom: 1px solid white;
    padding: 8px;
}
header p:last-child{
    margin-top: 16px;
    border: none;
    padding: 0;
}

div#links {
    font-family: var(--principal-font);
    margin: 16px;
    display: flex;
    flex-direction: column;
}

a.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    margin-top: 16px;
    padding: 8px;
    font-size: 1.2em;
    border: 2px solid white;
    background-color: var(--first-color);
    color: var(--second-color);
    box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.35);
}

a.link:hover {
    color: var(--first-color);
    background-color: var(--second-color);
    border-color: var(--first-color);
    opacity: 0.8;
    gap: 4px;
}

footer {
    margin: auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.renanLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 128px;
    border-radius: 50%;
    border-left: 5px solid white;
    border-right: 1px solid rgb(211, 211, 211);
    border-bottom: 3px solid white;
}

div.renanLogo > p {
    color: black;
    font-family: 'Chela One', cursive;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 1em;
}